@model FinalHotCold.Models.Order

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NameProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NameProduct)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PriceProduct)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PriceProduct)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
